/* Hide sidebar  */
/* html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;

  cursor:url('/src/cursor1.png'), auto;
} */
/* IE and Edge 、 Firefox*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;

  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;

  /* cursor: url(../src/ConfirmButton.png), default; */
}


#triggerSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 300vh;
}


.page {
  width: 100vw;
  height: 100vh;
}

#page1 {
  background-color: #000;
  z-index: 50;
  /* position: fixed; */
  position: relative;
}

#background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.2;
  position: fixed;
}

#page1 .text1-box {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 35%;
}

#page1 .text1-box h1 {
  width: 70%;
  height: 100%;
  font-family: 'Quintessential', cursive;
  font-size: 72px;
  color: #DBA085;
  text-align: center;
}


#info2 {
  /* position: relative; */
  width: 100%;
  height: 100%;
}


#svg-box {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 400vh;
  left: 0;
  top: -100vh;
}
#raindrop-box {
  /* position: absolute;
  z-index: 99;
  width: 100%;
  height: 400vh;
  left: 0;
  top: -100vh; */
  height: 100%;
}


#page2 {
  background-color: #000;
  position: relative;
  /* position: absolute;
  top: 100vh; */
  z-index: 50;
}
.logo-box {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 20%;
}
#logo-center {
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0;
}
#logo-center path {
  opacity: 0;
}

.text2-box {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 40%;
  top: 60%;
}
.text2-box h1 {
  width: 100%;
  height: 40%;
  font-family: 'Quintessential', cursive;
  font-size: 72px;
  color: #DBA085;
  text-align: center;
}
.text2-box h2 {
  margin-left: 35%;
  width: 30%;
  height: 20%;
  /* font-family: 'Quicksand', cursive; */
  font-family: 'Quintessential', cursive;
  font-weight: 300;
  font-size: 16px;
  color: #DBA085;
  text-align: center;
}
.text2-box button {
  margin-left: 45%;
  margin-top: 2%;
  width: 10%;
  height: 15%;
  border-radius: 10px;
  background-color: #DBA085;
  color: #fff;
} 


#page3 {
  background-color: #000;
  position: relative;
  /* position: absolute;
  top: 200vh; */
  z-index: 50;
}

.page3-text-box {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 10%;
  /* font-family: 'Quicksand', cursive; */
  font-family: 'Quintessential', cursive;
  font-weight: 400;
  font-size: 42px;
  color: #DBA085;
}
.solution-list-box {
  position: absolute;
  display: flex;
  width: 100%;
  height: 40%;
  top: 50%;
}

.solution-list-box #item1 {
  width: 20%;
  margin-left: 12%;
}
.solution-list-box #item2 {
  width: 20%;
  margin-left: 8%;
}
.solution-list-box #item3 {
  width: 20%;
  margin-left: 8%;
}

.solution-item {
  text-align: center;
  /* font-family: 'Quicksand', cursive; */
  font-family: 'Quintessential', cursive;
  font-weight: 300;
}
.solution-item h1 {
  margin-top: 5%;
  font-size: 38px;
  color: #DBA085;
}
.solution-item h2 {
  font-size: 16px;
  color: #797979;
}



#page4 {
  background-color: #000;
  position: relative;
  /* position: absolute;
  top: 300vh; */
}
#board {
  position: absolute;
  width: 55%;
  height: 70%;
  top: 15%;
  left: 5%;
  /* background-color: #DBA085; */
}
#board img {
  width: 100%;
  height: 100%;
}
#cards {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
}
#addCard {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  height: 60%;
  display: none;
  opacity: 0;
}
#inputBox {
  position: absolute;
  top: 32%;
  left: 42%;
  height: 30%;
  width: 30%;
  background: none;
  border: none;
  outline: none;


  display: none;
  opacity: 0;
}
#page4-text-box {
  position: absolute;
  width: 40%;
  height: 60%;
  right: 0;
  top: 20%;
  color: #fff;
}
#page4-text-box h1 {
  font-size: 48px;
  position: absolute;
  top: 25%;
  font-weight: 400;
  line-height: 110%;
  font-family: 'Quintessential', cursive;
}
#page4-text-box h2 {
  font-size: 18px;
  position: absolute;
  top: 55%;
  font-weight: 100;
}


#page5 {
  background-color: #000;
  position: relative;
  /* position: absolute;
  top: 400vh; */
}
#page5-text-box {
  position: absolute;
  width: 30%;
  height: 60%;
  left: 10%;
  top: 20%;
  color: #fff;
}
#page5-text-box h1 {
  font-size: 48px;
  position: absolute;
  top: 25%;
  font-weight: 400;
  line-height: 110%;
  font-family: 'Quintessential', cursive;
}
#page5-text-box h2 {
  font-size: 18px;
  position: absolute;
  top: 55%;
  font-weight: 100;
}
#circle {
  position: absolute;
  width: 50%;
  height: 70%;
  top: 15%;
  right: 10%;
}
#circle svg {
  width: 100%;
  height: 100%;
}
#circle .Dot {
  cursor: pointer;
}
#circle #Path {
  opacity: 0;
}

#page6 {
  background-color: #000;
  position: relative;
  /* position: absolute;
  top: 400vh; */
}
#map {
  position: absolute;
  width: 45%;
  height: 70%;
  top: 15%;
  left: 10%;
  background-color: #DBA085;
}
#page6-text-box {
  position: absolute;
  width: 30%;
  height: 60%;
  right: 10%;
  top: 20%;
  color: #fff;
}
#page6-text-box h1 {
  font-size: 48px;
  position: absolute;
  top: 25%;
  font-weight: 400;
  line-height: 110%;
  font-family: 'Quintessential', cursive;
}
#page6-text-box h2 {
  font-size: 18px;
  position: absolute;
  top: 55%;
  font-weight: 100;
}



/* common class */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}